@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./base";
@import "./normalize";

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --font-primary: "Helvetica", sans-serif;
  --container-primary: 1366px;
}

//Layout Styles
@import "./mainlayout";

// Page Styles
@import "./indexpage";
@import "./homepage";
